[Application]
name=test
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=d2Hotkeys:poop
#icon=myapp.ico

[Python]
version=2.7.12

[Include]
# Importable packages that your application requires, one per line
packages = requests

# Other files and folders that should be installed
files = LICENSE