[Application]
name=d2Hotkeys
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=d2Hotkeys:runFromJsonConfig
#icon=myapp.ico

[Python]
version=2.7.12

[Include]
# Importable packages that your application requires, one per line
packages = pythoncom
    pyHook

# Other files and folders that should be installed
files = LICENSE
    d2-hotkeys-config.json